<%- include('layouts/header'); -%>

<section class="site-warning-section">
    <div class="site-warning-section__content-wrapper">
        <a class="site-warning-section__close" href="javascript:void(0);">
            <i class="fa-solid fa-xmark"></i>
        </a>
        <p class="bold-600">Please note:</p>
        <p>
            This is a demo app. At 12am daily, a cron job is scheduled to reset
            the tables in the database that stores your personal info and any
            API Keys you create. Also, your visit is not being tracked.
        </p>
        <p>Thanks for being here and enjoy.</p>
    </div>
</section>

<% if (!isAuthenticated) { %>
<section class="form-section">
    <!-- Todo: paths and values for create new password -->
    <agcamacho-allinone-auth-v1
        class="allinone-auth"
        new-form-type="<%= newFormType %>"
        api-url="<%= API_URL %>"
        login-path="<%= LOGIN_PATH %>"
        login-redirect-path="<%= LOGIN_REDIRECT_PATH %>"
        create-user-path="<%= CREATE_USER_PATH %>"
        create-user-redirect-path="<%= CREATE_USER_REDIRECT_PATH %>"
        reset-password-path="<%= RESET_PASSWORD_PATH %>"
        create-new-password-path="<%= CREATE_NEW_PASSWORD_PATH %>"
    ></agcamacho-allinone-auth-v1>
</section>

<section class="form-logic-description">
    <!-- 
            stencil
            passport local
            cookie-session
            AWS RDS
        -->
</section>
<% } %> <% if (isAuthenticated) { %>
<section class="home-logged-in-message">
    <h2>You are currently logged in</h2>
    <p>
        Would you like to
        <a href="javascript:void(0);" id="log-out">Log out</a>?
    </p>
    <p>Or would you like to go back to <a href="/account">Account page</a>?</p>
    <p>Or would you like to view the <a href="/api/v1/docs">API Docs</a>?</p>
</section>
<% } %> <%- include('layouts/footer'); -%>
